asgiref==3.3.1
ca-certificates==2021.1.19
certifi==2020.12.5
django-crispy-forms==1.11.1
django==3.1.7
openssl==1.1.1j
pip==21.0.1
python==3.8.8
pytz==2021.1
setuptools==52.0.0
sqlite==3.33.0
sqlparse==0.4.1
vc==14.2
vs2015_runtime==14.27.29016
wheel==0.36.2
wincertstore==0.2
zlib==1.2.11
